<h2>Show Alert</h2>

<ul>

  <li>
    <strong>Currency name:</strong>
    <%= @alert.currency_name %>
  </li>

  <li>
    <strong>Upper limit:</strong>
    <%= @alert.upper_limit %>
  </li>

  <li>
    <strong>Lower limit:</strong>
    <%= @alert.lower_limit %>
  </li>

  <li>
    <strong>Currentprice:</strong>
    <%= @alert.currentprice %>
  </li>

</ul>

<span><%= link "Edit", to: alert_path(@conn, :edit, @alert) %></span>
<span><%= link "Back", to: alert_path(@conn, :index) %></span>
